@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.test {
  border: 1px solid red;
}

.root-navbar a.active {
  background: #525050;
}

.root-navbar a.active:hover {
  color: #fff;
}

.login-navbar a.active {
  background-color: #000;
  color: #fff;
}
