@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ransel';
  src: url('./assets/fonts/ransel/Ransel-Regular.ttf');
}

body {
  background-color: #eee;
}

.test {
  border: 1px solid red;
}

header nav a.active {
  background: #525050;
}

header nav a.active:hover {
  color: #fff;
  background: #525050;
}

.login-navbar a.active {
  border-bottom: 2px solid #0770cf;
}
